@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


.huisregelBG {
    border-color: #4BA0AF;
}

.huisregelBG2 {
    border-color: #C1633F;
}

/* .normTekst {
    font-family: 'Open Sans';
}

.kopje {
    font-family: 'Roboto';
} */

.orange1 {
    background-color: #cf5c36;
}

.orange1textNoLink {
    color: #cf5c36;
}

.orange1text {
    color: #cf5c36;
}

.orange1text:hover {
    color: #b14825;
}

.cyan1 {
    border-top: solid 5px;
    border-bottom: solid 5px;
    border-radius: 2vh;
    border-color: #0fa3b1;
}

.cyan1text {
    color: #0fa3b1;
}

.rulesHeaderBg {
    background-color: #2c9acde6;
}

.rulesHeaderText {
    color: #000000;
}

.gradient-bg-rules {
    background: linear-gradient(135deg, #e4faff 0%, #b5e3f7 100%);
}

.orange2 {
    border-left: solid 5px;
    border-right: solid 5px;
    border-radius: 2vh;
    border-color: #cf5c36;
}